<div class="c-banner-3">
    <div class="container">
        <div class="slide-main">
            <div class="item">
                <a href="#">
                <img src="<%= require('../../public/img/600-900/1.jpg')%>">
                <div class="txt">
                    <h3>标题1</h3>
                    <button class="btn btn-primary btn-sm">了解更多<i class="fa fa-angle-right"></i></button>
                </div>
            </a>
            </div>
            <div class="item">
                <a href="#">
                <img src="<%= require('../../public/img/600-900/2.jpg')%>">
                <div class="txt">
                    <h3>标题2</h3>
                    <button class="btn btn-primary btn-sm">了解更多<i class="fa fa-angle-right"></i></button>
                </div>
            </a>
            </div>
            <div class="item">
                <a href="#">
                <img src="<%= require('../../public/img/600-900/3.jpg')%>">
                <div class="txt">
                    <h3>标题3</h3>
                    <button class="btn btn-primary btn-sm">了解更多<i class="fa fa-angle-right"></i></button>
                </div>
            </a>
            </div>
            <div class="item">
                <a href="#">
                <img src="<%= require('../../public/img/600-900/4.jpg')%>">
                <div class="txt">
                    <h3>标题4</h3>
                    <button class="btn btn-primary btn-sm">了解更多<i class="fa fa-angle-right"></i></button>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>