<div class="c-custom">
    <div class="container">
        <h1>知名客户</h1>
        <p>多年实施经验，服务于多家世界500强企业</p>
        <ul>
            <li>
                <div class="logo-1"></div>
            </li>
            <li>
                <div class="logo-2"></div>
            </li>
            <li>
                <div class="logo-3"></div>
            </li>
            <li>
                <div class="logo-4"></div>
            </li>
            <li>
                <div class="logo-5"></div>
            </li>
            <li>
                <div class="logo-6"></div>
            </li>
            <li>
                <div class="logo-7"></div>
            </li>
            <li>
                <div class="logo-8"></div>
            </li>
            <li>
                <div class="logo-9"></div>
            </li>
            <li>
                <div class="logo-10"></div>
            </li>
            <li>
                <div class="logo-11"></div>
            </li>
            <li>
                <div class="logo-12"></div>
            </li>
            <li>
                <div class="logo-13"></div>
            </li>
            <li>
                <div class="logo-14"></div>
            </li>
        </ul>
    </div>
</div>