<div class="c-list-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a class="item" href="#" target="_blank">
            <img src="<%= require('../../public/img/800-600/1.jpg')%>">
            <h3 class="title">包包系列</h3>
        </a>
            </div>
            <div class="col-sm-4">
                <a class="item" href="#" target="_blank">
            <img src="<%= require('../../public/img/800-600/2.jpg')%>">
            <h3 class="title">户外系列</h3>
        </a>
            </div>
            <div class="col-sm-4">
                <a class="item" href="#" target="_blank">
            <img src="<%= require('../../public/img/800-600/3.jpg')%>">
            <h3 class="title">男装系列</h3>
         </a>
            </div>
        </div>
    </div>
</div>