<div class="c-side-nav">
    <h1>产品系列</h1>
    <ul>
        <li>
            <a href="#">箱包皮具</a>
            <ul>
                <li><a href="#">男士箱包</a></li>
                <li><a href="#">女士箱包</a></li>
                <li><a href="#">服饰配饰</a></li>
            </ul>
        </li>
        <li>
            <a href="#">休闲男装</a>
          
        </li>
        <li>
            <a href="#">商务男装</a>
          
        </li>
        <li>
            <a href="#">运动户外</a>
           
        </li>
    </ul>
</div>
