<div class="c-list">
    <div class="container">
        <ul class="media-list">
            <li class="media item ">
                <div class="media-left">
                    <a href="#">
            <img class="media-object" src="<%= require('../../public/img/800-800/1.jpg')%>" >
          </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">标题</a></h4>
                    <p class="hidden-xs">描述描述描述描述描述描述描述描述描述描述描述描述</p>
                </div>
            </li>
            <li class="media item ">
                <div class="media-left">
                    <a href="#">
            <img class="media-object" src="<%= require('../../public/img/800-800/1.jpg')%>" >
          </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">标题</a></h4>
                    <p class="hidden-xs">描述描述描述描述描述描述描述描述描述描述描述描述</p>
                </div>
            </li>
            <li class="media item ">
                <div class="media-left">
                    <a href="#">
            <img class="media-object" src="<%= require('../../public/img/800-800/1.jpg')%>" >
          </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">标题</a></h4>
                    <p class="hidden-xs">描述描述描述描述描述描述描述描述描述描述描述描述</p>
                </div>
            </li>
            <li class="media item ">
                <div class="media-left">
                    <a href="#">
            <img class="media-object" src="<%= require('../../public/img/800-800/1.jpg')%>" >
          </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><a href="#">标题</a></h4>
                    <p class="hidden-xs">描述描述描述描述描述描述描述描述描述描述描述描述</p>
                </div>
            </li>
        </ul>
    </div>
</div>