<div class="c-list-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="item  ">
                    <i class="fa fa-calendar"></i>
                    <h4>8年+行业经验</h4>
                    <p>阿拉斯加卡的飞
                    <br>拉阔已诶赴埃及的杀戮空间</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="item  ">
                    <i class="fa fa-diamond"></i>
                    <h4>1000+高端客户</h4>
                    <p>撒旦法师打发
                        <br>爱上对方的的</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="item  ">
                    <i class="fa fa-users"></i>
                    <h4>50万+人次使用</h4>
                    <p>爱的色放爱上对方
                        <br>很健康风格和</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="item  ">
                    <i class="fa fa-smile-o"></i>
                    <h4>7*24客户服务</h4>
                    <p>跟滑稽看
                        <br>个和梵蒂冈</p>
                </div>
            </div>
        </div>
    </div>
</div>