<%= header %>
<div class="p-demo">
	<nav class="p-demo-navbar navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#p-demo-navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">多页面脚手架组件实例</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="p-demo-navbar-collapse">


				<ul class="nav navbar-nav navbar-right">
					<li><a href="#p-demo-com-top">顶部组件</a></li>
					<li><a href="#p-demo-com-navbar">导航条组件</a></li>
					<li><a href="#p-demo-com-banner">banner组件</a></li>
					<li><a href="#p-demo-com-list">列表组件</a></li>
					<li><a href="#p-demo-com-pagi">分页组件</a></li>
					<li><a href="#p-demo-com-side">侧边栏组件</a></li>
					<li><a href="#p-demo-com-bottom">底部组件</a></li>
					<li><a href="#p-demo-com-other">其他组件</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<h1 id="p-demo-com-top" class="p-demo-com-type">顶部组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			top
		</h2>
	</div>
	<%= top %>
	<h1 id="p-demo-com-navbar" class="p-demo-com-type">导航条组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			nav
		</h2>
	</div>
	<%= nav %>
	<div class="container">
		<h2 class="p-demo-com-name">
			nav_1
		</h2>
	</div>
	<%= nav_1 %>
	<h1 id="p-demo-com-banner" class="p-demo-com-type">banner组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			banner
		</h2>
	</div>
	<%= banner %>
	<div class="container">
		<h2 class="p-demo-com-name">
			banner_1
		</h2>
	</div>
	<%= banner_1 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			banner_2
		</h2>
	</div>
	<%= banner_2 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			banner_3
		</h2>
	</div>
	<%= banner_3 %>
	<h1 id="p-demo-com-list" class="p-demo-com-type">列表组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			list
		</h2>
	</div>
	<%= list %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_1
		</h2>
	</div>
	<%= list_1 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_2
		</h2>
	</div>
	<%= list_2 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_3
		</h2>
	</div>
	<%= list_3 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_4
		</h2>
	</div>
	<%= list_4 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_5
		</h2>
	</div>
	<%= list_5 %>
	<div class="container">
		<h2 class="p-demo-com-name">
			list_6
		</h2>
	</div>
	<%= list_6 %>
	<h1 id="p-demo-com-pagi" class="p-demo-com-type">分页组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			pagi
		</h2>
	</div>
	<%= pagi %>
	<h1 id="p-demo-com-side" class="p-demo-com-type">侧边栏组件</h1>

	<div class="container">
		<h2 class="p-demo-com-name">
			side_nav；side_img_list；side_text_list
		</h2>
	</div>
	<div class="container">
		<div class="col-sm-6"><%= side_nav %></div>
		<div class="col-sm-3"><%= side_img_list %></div>
		<div class="col-sm-3"><%= side_text_list %></div>
	</div>
	

	<h1 id="p-demo-com-bottom" class="p-demo-com-type">底部组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			bottom
		</h2>
	</div>
	<%= bottom %>
	<div class="container">
		<h2 class="p-demo-com-name">
			bottom_1
		</h2>
	</div>
	<%= bottom_1 %>
	<h1 id="p-demo-com-other" class="p-demo-com-type">其他组件</h1>
	<div class="container">
		<h2 class="p-demo-com-name">
			contact_soon
		</h2>
	</div>
	<%= contact_soon %>
	<div class="container">
		<h2 class="p-demo-com-name">
			custom
		</h2>
	</div>
	<%= custom %>
</div>
<%= footer %>