  <div class="c-side-img-list">
    <h4  class="title">
        标题
    </h4>
    <div class="body">
		 <div class="row">
		    <div class="col-xs-6">
		        <div  class="item">
		            <a href="#"><img src="<%= require('../../public/img/800-800/1.jpg')%>"></a>
		            
		            <h4><a href="#">标题</a></h4>
		           
		        </div>
		    </div>
		      <div class="col-xs-6">
		        <div  class="item">
		            <a href="#"><img src="<%= require('../../public/img/800-800/1.jpg')%>"></a>
		            
		            <h4><a href="#">标题</a></h4>
		           
		        </div>
		    </div>
		     <div class="col-xs-6">
		        <div  class="item">
		            <a href="#"><img src="<%= require('../../public/img/800-800/1.jpg')%>"></a>
		            
		            <h4><a href="#">标题</a></h4>
		           
		        </div>
		    </div>
		     <div class="col-xs-6">
		        <div  class="item">
		            <a href="#"><img src="<%= require('../../public/img/800-800/1.jpg')%>"></a>
		            
		            <h4><a href="#">标题</a></h4>
		           
		        </div>
		    </div>
		</div>
    </div>
   
</div>
 