<div class="c-bottom">
    <div class="bottom-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <h4><a href="#"  target="_blank">标题</a></h4>
                    <ul class="nav-list">
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <h4><a href="#"  target="_blank">标题</a></h4>
                    <ul class="nav-list">
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <h4><a href="#"  target="_blank">标题</a></h4>
                    <ul class="nav-list">
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <h4><a href="#"  target="_blank">标题</a></h4>
                    <ul class="nav-list">
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                        <li><a href="#" target="_blank">标题</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-md-4">
                    <!--二维码预加载，防止弹出框错位-->
                    <img src="<%= require('./img/qr.jpg')%>" class="hidden">
                    <!---->
                    <ul class="contact">
                        <li class="phone"><a href="tel:0755-32875900" target="_blank">0755-88888888</a></li>
                        <li>周一至周五9:00-12:00,14:00-18:00</li>
                        <li class="icon"><a role="button" data-toggle="popover" data-trigger="hover" data-html="true" data-placement="top" data-content="<img src=&quot;<%= require('./img/qr.jpg')%>&quot;>"><i class="fa fa-wechat"></i></a>
                            <a href="tencent://message/?uin=1453817867&amp;Menu=yes" target="_blank"><i class="fa fa-qq"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>版权所有&copy;2013-2017 深圳市大脚网络科技 粤ICP备16121966号</p>
            <p>POWER BY：
                <a href="http://www.bigfoot.xin" target="_blank"><img src="http://static.bigfoot.xin/ico/favicon.ico"></a>
            </p>
        </div>
    </div>
</div>