<div class="c-list-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="mask"></div>
                    <div class="caption">
                        <h3>商务会议解决方案</h3>
                        <p>大会、商会、会务、产品发布会、经销商会、答谢会、各种商务会议</p>
                        <a class="btn btn-primary" href="#">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="mask"></div>
                    <div class="caption">
                        <h3>商务会议解决方案</h3>
                        <p>大会、商会、会务、产品发布会、经销商会、答谢会、各种商务会议</p>
                        <a class="btn btn-primary" href="#">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="mask"></div>
                    <div class="caption">
                        <h3>商务会议解决方案</h3>
                        <p>大会、商会、会务、产品发布会、经销商会、答谢会、各种商务会议</p>
                        <a class="btn btn-primary" href="#">查看详情</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="mask"></div>
                    <div class="caption">
                        <h3>商务会议解决方案</h3>
                        <p>大会、商会、会务、产品发布会、经销商会、答谢会、各种商务会议</p>
                        <a class="btn btn-primary" href="#">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>