<div class=" c-side-text-list">
    <h4>
        啥撒旦法
    </h4>
    <div class="list-group">
        <a href="#" class="list-group-item item"><i class="fa fa-angle-right"></i>阿斯蒂芬阿斯蒂芬</a>
        <a href="#" class="list-group-item item"><i class="fa fa-angle-right"></i>阿斯蒂芬爱的色放爱的色放阿斯蒂芬爱的色放阿萨德</a>
        <a href="#" class="list-group-item item"><i class="fa fa-angle-right"></i>爱迪生爱的色放三大</a>
        <a href="#" class="list-group-item item"><i class="fa fa-angle-right"></i>阿斯蒂芬爱迪生爱迪生</a>
    </div>
</div>