@import '../../public/css/component-public';
.c-banner-2
{
    position: relative;
    .slide-main
    {
        .item
        {
            img
            {
                width: 100%;
            }
        }
    }
    .slide-main-dots-box
    {
        position: relative;

        height: 32px;
        .slide-main-dots
        {
            position: absolute;
            top: 0;
            right: 40px;
            ul.slick-dots
            {
                margin: 0;
                padding: 5px 0;
                li
                {
                    display: inline-block;

                    width: 14px;
                    height: 14px;
                    margin: 0 3px;
                    padding: 0;

                    vertical-align: middle;
                    &.slick-active
                    {
                        button
                        {
                            @include m-opacity(.6);
                        }
                    }
                    button
                    {
                        font-size: 0;
                        line-height: 0;

                        display: block;

                        width: 100%;
                        height: 100%;
                        padding: 0;

                        cursor: pointer;

                        border: 0;
                        border-radius: 50%;
                        outline: none;
                        background-color: #000;

                        @include m-opacity(.3);
                    }
                }
            }
        }
        .slide-main-num
        {
            line-height: 32px;

            position: absolute;
            top: 0;
            right: 0;

            width: 40px;
            height: 32px;

            text-align: center;
        }
    }
}
