<div class="c-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-push-4">
                <div class="left">
                    <img src="<%= require('../../public/img/logo.png')%>" />
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-push-4">
                <div class="right">
                    <form>
                        <div class="form-group">
                            <label for="code">防伪查询</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="code-fwcx-1">
                                <span class="input-group-btn">
                                    <button id="btn-fwcx-1" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                                
                            </div>
                            <p class="help-block">请输入16位防伪查询码进行真伪查询</p>
                        </div>
                    </form>
                    <div class="row contact">
                        <div class="col-xs-3">
                            <a href="#" target="_blank"><i class="fa fa-weibo"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" target="_blank"><i class="fa fa-tencent-weibo"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a href="#" target="_blank"><i class="fa fa-qq"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="wx_qr_popup" data-img="<%= require('public/img/qr.jpg')%>" href="#" target="_blank"><i class="fa fa-weixin"></i></a>
                        </div>
                    </div>

                </div>
                <div class="hidden-xs clearfix"></div>
            </div>
        </div>
    </div>
</div>
