<div class="c-bottom-1">
    <div class="container">
        <div class="row ">
            <div class="col-md-8 left-box">
                <div class="nav-box">
                    <ul class="bottom-nav">
                        <li><a href="#">产品系列</a></li>
                        <li><a href="#">走进稻草人</a></li>
                        <li><a href="#">店铺查找</a></li>
                        <li><a href="#">网上商城</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><span class="line hidden-xs"></span>服务热线：400-861-7788</li>
                    </ul>
                    <div class="copyright">
                        <p>copyright&copy;2015-2017 稻草人（国际）集团有限公司 All Right Reserved.</p>
                        <p>粤ICP备00000000号</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-xs right-box">
                <div class="row">
                    <div class="qr-box col-sm-5 col-lg-6">
                        <div class="qr">
                            <img src="<%= require('public/img/qr.jpg')%>">
                            <p>关注微信</p>
                            <p>了解稻草人品牌和产品资讯</p>
                        </div>
                        <div class="line"></div>
                    </div>
                    <div class="check-box col-sm-7 col-lg-6">
                        <div class="check">
                            <form>
                                <div class="form-group">
                                    <label for="code">防伪查询</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" id="code-fwcx-2">
                                        <span class="input-group-btn">
                            <button id="btn-fwcx-2" class="btn btn-default" type="button"><i class="fa fa-search"></i>
                            </button>
                          </span>
                                    </div>
                                    <p class="help-block">请输入16位防伪查询码进行真伪查询</p>
                                </div>
                            </form>
                            <div class="row contact">
                                <div class="col-xs-3">
                                    <a href="#" target="_blank"><i class="fa fa-weibo"></i></a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="#" target="_blank"><i class="fa fa-tencent-weibo"></i></a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="#" target="_blank"><i class="fa fa-qq"></i></a>
                                </div>
                                <div class="col-xs-3">
                                    <a class="wx_qr_popup" data-img="<%= require('public/img/qr.jpg')%>" href="#" target="_blank"><i class="fa fa-weixin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>