@import '../../public/css/component-public';


.c-bottom-1
{
    padding: 30px 15px;
    .nav-box
    {
        @media (min-width: 992px)
        {
            @include m-valign-middle;
        }
    }
    .bottom-nav
    {
        margin-bottom: 15px;
        padding: 0;

        text-align: left;
        @media (max-width: 767px)
        {
            text-align: center;
        }
        li
        {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;

            display: inline-block;

            margin-bottom: 10px;

            border-left: 1px solid #333;
            &:first-child
            {
                border-width: 0;
                a
                {
                    padding-left: 0;
                }
            }
            &:last-child
            {
                position: relative;

                margin-left: 15px;
                padding-left: 15px;

                border-width: 0;
                @media (max-width: 767px)
                {
                    display: block;

                    margin-left: 0;
                    padding-left: 0;
                }
                .line
                {
                    position: absolute;
                    top: 0;
                    left: 0;

                    display: block;

                    width: 4px;
                    height: 100%;

                    border-right: 1px solid #333;
                    border-left: 1px solid #333;
                    background-color: transparent;
                }
            }
            a
            {
                padding: 0 8px;

                color: #333;
            }
        }
    }
    .copyright
    {
        color: #737373;
        @media (max-width: 767px)
        {
            text-align: center;
        }
        @media (min-width: 768px)
        {
            text-align: left;
        }
        p
        {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
    .qr,
    .check
    {
        @include m-valign-middle;
    }
    .line
    {
        position: absolute;
        top: 0;
        right: 0;

        width: 2px;
        height: 100%;

        border-radius: 1px;
        background-color: #bbb;;
    }
    .qr
    {
        img
        {
            display: block;

            width: 100%;
            margin: 0 auto;
            @media (min-width: 1200px)
            {
                width: 120px;
            }
        }
        p
        {
            font-size: 12px;

            margin-top: 5px;
            margin-bottom: 0;

            text-align: center;

            color: #737373;
        }
    }
    .check
    {
        form
        {
            margin: 0 auto;
            .help-block
            {
                font-size: 12px;
            }
        }
        .contact
        {
            a
            {
                display: block;

                width: 30px;
                height: 30px;
                margin: 0 auto;

                text-align: center;

                border-radius: 50%;
                background-color: #333;
                i
                {
                    font-size: 18px;
                    line-height: 30px;

                    width: 30px;
                    height: 30px;

                    color: #eee;
                    &:hover
                    {
                        color: #fff;
                    }
                }
            }
        }
    }
}
