<nav class="c-nav navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="index-link"><a href="index.html">首页</a></li>
            <li class="product-link active">
                <a href="product.html">产品系列</a>
                <ul class="sub-nav">
                    <li><a href="#">分类名称</a></li>
                    <li><a href="#">分类名称</a></li>
                    <li> <a href="#">分类名称</a></li>
                    <li><a href="#">分类名称</a></li>
                </ul>
            </li>
            <li class="about-link">
                <a href="about.html">关于我们</a>
                <ul class="sub-nav">
                    <li><a href="news-detail.html">企业简介</a></li>
                    <li><a href="#">品牌故事</a></li>
                    <li> <a href="news-list.html">新闻资讯</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ul>
            </li>
            <li class="search-link"><a href="search.html">店铺查找</a></li>
            <li class="mall-link"><a href="mall.html">网上商城</a></li>
            <li class="contact-link"><a href="contact.html">联系我们</a></li>
        </ul>
        <div class="clearfix">
    
</nav>