<div class="c-list-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail item ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="caption">
                        <h4><a href="#">标题</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail item ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="caption">
                        <h4><a href="#">标题</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail item ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="caption">
                        <h4><a href="#">标题</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail item ">
                    <img src="<%= require('../../public/img/800-800/1.jpg')%>">
                    <div class="caption">
                        <h4><a href="#">标题</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>