<div class="c-banner">
    <div class="slide-main">
        <div class="item" data-title="标题1" data-des="简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1简介1" data-url="1"><a href="1" target="_blank"><img src="<%= require('../../public/img/1920-800/1.jpg')%>"></a></div>
        <div class="item" data-title="标题2" data-des="简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2简介2" data-url="2"><a href="2" target="_blank"><img src="<%= require('../../public/img/1920-800/2.jpg')%>"></a></div>
        <div class="item" data-title="标题3" data-des="简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3简介3" data-url="3"><a href="3" target="_blank"><img src="<%= require('../../public/img/1920-800/3.jpg')%>"></a></div>
        <div class="item" data-title="标题4" data-des="简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4简介4" data-url="4"><a href="4" target="_blank"><img src="<%= require('../../public/img/1920-800/4.jpg')%>"></a></div>
        <div class="item" data-title="标题5" data-des="简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5简介5" data-url="5"><a href="5" target="_blank"><img src="<%= require('../../public/img/1920-800/5.jpg')%>"></a></div>
        <div class="item" data-title="标题6" data-des="简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6简介6" data-url="6"><a href="6" target="_blank"><img src="<%= require('../../public/img/1920-800/6.jpg')%>"></a></div>
    </div>
    <div class="slide-main-dots visible-xs-block"></div>
    <div class="slide-main-title visible-xs-block">
        <h3 class="title"></h3></div>
    <div class="slide-nav-box hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 slide-nav-box-left">
                    <div class="txt">
                        <h3 class="title"></h3>
                        <p class="des"></p>
                        <a class="url btn btn-primary" href="#" target="_blank">+&nbsp;详情</a>
                    </div>
                </div>
                <div class="hidden-xs col-sm-8 slide-nav-box-right">
                    <div class="slide-nav-wrap">
                        <div class="slide-nav">
                            <div class="item"><img src="<%= require('../../public/img/1920-800/1.jpg')%>"></div>
                            <div class="item"><img src="<%= require('../../public/img/1920-800/2.jpg')%>"></div>
                            <div class="item"><img src="<%= require('../../public/img/1920-800/3.jpg')%>"></div>
                            <div class="item"><img src="<%= require('../../public/img/1920-800/4.jpg')%>"></div>
                            <div class="item"><img src="<%= require('../../public/img/1920-800/5.jpg')%>"></div>
                            <div class="item"><img src="<%= require('../../public/img/1920-800/6.jpg')%>"></div>
                        </div>
                        <div class="slide-arrow">
                            <div class="slide-arrow-left">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="slide-arrow-right">
                                <i class=" fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>