@import '../../public/css/component-public';
.c-banner
{
    position: relative;
    .slide-main
    {
        .item
        {
            img
            {
                width: 100%;
            }
        }
    }
    .slide-main-dots
    {
        position: absolute;
        bottom: 0;
        left: 50%;

        transform: translateX(-50%);
        ul.slick-dots
        {
            margin: 0;
            padding: 5px 0;
            li
            {
                display: inline-block;

                width: 14px;
                height: 14px;
                margin: 0 3px;
                padding: 0;
                &.slick-active
                {
                    button
                    {
                        @include m-opacity(.6);
                    }
                }
                button
                {
                    font-size: 0;
                    line-height: 0;

                    display: block;

                    width: 100%;
                    height: 100%;
                    padding: 0;

                    cursor: pointer;

                    border: 0;
                    border-radius: 50%;
                    outline: none;
                    background-color: #000;

                    @include m-opacity(.3);
                }
            }
        }
    }
    .slide-main-title
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        padding: 5px;

        background-color: rgba(0, 0, 0, .4);
        .title
        {
            font-size: 16px;

            margin: 0;

            text-align: center;

            color: #eee;

            @include m-ellipsis(18px);
        }
    }
    .slide-nav-box
    {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        background-color: rgba(0, 0, 0, .4);

        .slide-nav-box-left
        {
            border-right: 1px solid #999;
            .txt
            {
                padding: 15px 0;

                text-align: left;

                @include m-valign-middle;
                .title
                {
                    font-size: 16px;

                    margin-top: 0;
                    margin-bottom: 5px;

                    color: #eee;

                    @include m-ellipsis(18px);
                }
                .des
                {
                    font-size: 12px;
                    line-height: 1.5;

                    overflow: hidden;

                    height: 36px;
                    margin-bottom: 5px;

                    color: #ccc;
                }
            }
        }
        .slide-nav-wrap
        {
            position: relative;
            top: 50%;

            padding: 15px 20px 15px 0;

            transform: perspective(1px) translateY(-50%);
            .slide-nav
            {
                .item
                {
                    margin-right: 10px;

                    outline: none;
                    a
                    {
                        outline: none;
                    }
                    &.slick-center
                    {
                        img
                        {
                            border: 2px solid #fff;
                        }
                    }
                    img
                    {
                        width: 100%;

                        outline: none;
                    }
                }
            }
            .slide-arrow
            {
                position: absolute;
                top: 0;
                right: 0;

                width: 20px;
                height: 100%;
                padding: 15px 0;
                .slide-arrow-left,
                .slide-arrow-right
                {
                    position: relative;

                    width: 100%;
                    height: 50%;

                    cursor: pointer;
                    text-align: center;

                    color: #eee;
                    background-color: $brand-primary;
                    &:hover
                    {
                        color: $brand-primary;
                        background-color: #eee;
                    }
                    i
                    {
                        position: absolute;
                        top: 50%;
                        left: 0;

                        width: 100%;

                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}
